RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://1984world.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://1984world.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brave1984.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://brave1984.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1984world.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1984world.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brave1984.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.brave1984.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1984world.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1984world.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brave1984.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://brave1984.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1984world.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1984world.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brave1984.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.brave1984.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

