section,
article,
blockquote,
dd,
.container,
.document,
.header,
.footer,
.section,
.compound,
.figure {
  > p {
    text-indent: 2em;
  }
}

li > .compound > p {
  text-indent: 0;
}

section,
article,
.document,
.header,
.footer,
.section {
  > p {
    @include trailer;
  }
}

strong,
em,
.literal,
.reference {
  line-height: 1;
}

strong {
  font-weight: $font-weight-bold;
}

em,
.literal,
.reference {
  padding: 0 0.125rem;
}

em,
.literal {
  font-weight: $headings-font-weight;
  color: $dark;
}

.reference {
  font-weight: $headings-font-weight;
}

.literal {
  font-family: $font-family-monospace;
}

blockquote footer,
.attribution {
  display: block;
  font-size: $small-font-size;
  line-height: $base-line-height;
  color: $gray-700;
  text-align: right;
}

blockquote footer::before {
  content: "\2014\2014\00A0";
}

.attribution::before {
    content: "\2014";
}

.epigraph {
  padding: $base-line-height / 2;
  outline: 1px solid $gray-600;
}

div[class="footer"], // rst中的footer指令，会生成一个带有footer类的 hr。
.document,
.section,
.epigraph,
.compound,
.figure {
  margin-bottom: $base-line-height;
}

[itemtype*="BlogPosting"] {
  display: flex;
  flex-direction: column;

  h1 {
    @include adjust-font-size-to($h1-font-size);
    text-shadow: 2px 2px 2px #aaa;
  }
  
  .tags {
    align-self: flex-end;
  }
}

.tags {
  list-style: none;
  background-image: inline-image("tags.svg");
  background-size: 1.25em 1.25em;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 1.375em;
  margin-top: auto;

  li {
    display: inline-block;
  }
}

[itemprop="datePublished"] {
  font-size: 81.25%;
  line-height: $base-line-height;
  color: $gray-600;
  text-align: right;
}

h1,
[itemprop="headline"] {
  text-align: center;
}

h2[itemprop="headline"] {
  line-height: $base-line-height * 2;
}

[data-collection="bookshelf"] {
  color: #ac0056;
  text-decoration: underline;
  text-decoration-color: #e6b3cc;

  &:hover {
    color: #810041;
    text-decoration-color: currentColor;
  }
}

.summary {
  font-size: $font-size-base * 1.0625;
  line-height: $base-line-height;
  padding-bottom: $base-line-height;
  margin-top: $base-line-height;
  @extend %hr;

  [itemtype*="BlogPosting"]:last-child & {
      margin-bottom: $base-line-height;
      border-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

[itemprop="articleBody"] {
  h2 {
    line-height: $base-line-height * 2;
    padding-left: 1em;
    margin-bottom: $base-line-height;
    background-color: $bg-secondary;
  }

  h3 {
    @include adjust-font-size-to($h3-font-size);
    @extend %hr;
  }

  ul, ol, dl {
    @include trailer;
  }

  dt::after {
    content: "：";
  }
}

.summary,
[itemprop="articleBody"] {
  p {
    word-wrap: break-word;
  }

  a[href^="http"] {
    color: #ac0056;

    &:hover {
      color: #810041;
    }

    &:visited {
      color: #b86bff;
    }
  }
}

.book-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  @include leader(2);

  figure,
  section {
    width: 15rem;
  }

  .card-header {
    font-size: $h3-font-size;
    line-height: $base-line-height * 1.5 - 2px;
    text-align: center;
    padding: 0;
  }

  &:hover img {
    box-shadow: 0 5px 36px -3px #777;
    transform: scale(0.8);
  }

  img {
    transition: all .15s;
  }

  ul {
    line-height: $base-line-height;
    padding: 0 $base-line-height / 2;
    list-style: none;

    p {
      font-size: 93.75%;
    }

    span {
      font-size: $small-font-size;
      color: $text-muted;
    }
  }

  .btn {
    height: $base-line-height * 1.5 - 1px;
    padding: 0;
  }
}

[aria-label~="navigation"] {
  align-self: center;
  margin-top: auto;
}

[aria-label~="posts"] {
  display: flex;
  justify-content: center;
  align-self: stretch;

  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include media-breakpoint-down(se) {
      max-width: 20em;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      max-width: 40em;

      li {
        width: 50%;
      }
    };
  }
}

.page-link {
  height: $base-line-height * 1.5;
  @include text-truncate;

  small {
    color: $dark;
  }
}
