$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.375;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.875;

$small-font-size: 87.5%;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$label-margin-bottom: 0;

$half-base-line-height: $base-line-height / 2;
$jumbotron-padding: $base-line-height;

$body-bg: #f2f1f0;             
$jumbotron-bg: #e6e2dd;        
$bg-secondary: #d8d1c9;
$bg-info: #f5f6f9;
$hr-border-color: rgba($black, .5);
$breadcrumb-bg: $jumbotron-bg;
$card-bg: $body-bg;

$link-color: #3273dc;

$btn-green: #3cb52e;
$btn-green-light: #41c532;
$btn-green-border: #28781e;
$btn-cta: #ef5d10;
$btn-cta-light: #f06a23;
$btn-cta-border: #a44100;
$btn-black: #4d4d4d;
$btn-black-light: #575757;
$btn-black-border: #272727;
$btn-blue: #0097ec;
$btn-blue-light: #01a4ff;
$btn-blue-border: #0066a0;

$grid-breakpoints: ((xs: 0, se: 352px, sm: 576px, md: 768px, lg: 992px, xl: 1200px));
$container-max-widths: ((sm: 540px, md: 720px));
