@import "bootstrap/functions";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap/mixins";

@import "bootstrap/grid";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";

@import "bootstrap/reboot";
@import "bootstrap/utilities";
@import "bootstrap/nav";
@import "bootstrap/jumbotron";

@import "dracula";
@import "mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/content";

html,
body {
  @extend .d-flex;
  min-height: 100%;
}

body {
  @extend .flex-column;
  @extend .flex-grow-1;
}

p {
  text-indent: 2em;
}

.jumbotron {
  @extend .flex-grow-1;
  max-width: 64em;
  margin: 0 auto;
}

.fa-1x {
  width: 1em;
  height: 1em;
}

.fa-2x {
  width: 2em;
  height: 2em;
}

.bookshelf {
  @extend .d-flex;
  @extend .flex-wrap;
}

.cover {
  
  $gutter: 0.25em;

  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }

  img {
    @include img-fluid;
    @include border-radius($thumbnail-border-radius);
  }
}
