@import "dracula";
@import "compass/typography/vertical_rhythm";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap/mixins";

@import "util";
@import "reboot";
@import "base";
@import "components";
@import "layouts";
@import "content";
@import "sprites";

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  @include trailer;

  @include media-breakpoint-up(se) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bookshelf-item {
  display: flex;
  flex-direction: column;
  @include make-col-ready(0.75em);
  @include make-col(6);
  @extend %hr;

  @media (min-width: 375px) {
    @include make-col-ready(2em);
  }

  @media (max-width: 543.98px) {
    &:nth-child(2n+1):nth-last-child(-n+2),
    &:nth-child(2n+1):nth-last-child(-n+2) ~ & {
      border-bottom: 0;
      @include trailer;
    }
  }

  @media (min-width: 544px) and (max-width: 767.98px) {
    @include make-col(4);
    
    &:nth-child(3n+1):nth-last-child(-n+3),
    &:nth-child(3n+1):nth-last-child(-n+3) ~ & {
      border-bottom: 0;
      @include trailer;
    }
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
    &:nth-child(4n+1):nth-last-child(-n+4),
    &:nth-child(4n+1):nth-last-child(-n+4) ~ & {
      border-bottom: 0;
      @include trailer;
    }
  }

  img {
    @extend %cover;
  }

  h2 {
    font-size: $h5-font-size;
    line-height: $base-line-height;
    margin: 0 0.25rem;
  }

  .tags {
    margin-left: 0.5rem;
  }
}

.hackers {
  @include Scroll_Wrapper;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    @include adjust-font-size-to($h2-font-size);
    font-weight: 400;
    text-align: left;
    text-shadow: 2px 2px 2px #aaa;
    padding-left: 1rem;
    margin-bottom: $base-line-height / 2;
    margin-top: ($base-line-height / 2) - $border-width;
    border-top: $border-width solid $dark;
  }

  article {
    display: inline-block;
    max-width: 8.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    @include media-breakpoint-up(md) {
      @include make-col-ready(2em);
      @include make-col(3);
      margin-left: 0;
      margin-right: 0;
    }
  }

  h3 {
    @include text-hide($ignore-warning: true);
  }

  img {
    @extend %cover;
  }

  pre {
    margin-bottom: 0;
  }
}
