@import "bootstrap/functions";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap/mixins";

@import "bootstrap/grid";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";

@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/utilities";
@import "bootstrap/jumbotron";
@import "bootstrap/card";
@import "bootstrap/badge";
@import "bootstrap/breadcrumb";
@import "bootstrap/nav";
@import "bootstrap/pagination";

@import "dracula";
@import "mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/content";

html,
body {
  @extend .d-flex;
  min-height: 100%;
}

body {
  @extend .flex-column;
  @extend .flex-grow-1;
}

section,
article,
blockquote,
div {
  > p {
    text-indent: 2em;
  }
}

h1 {
  text-align: center;
}

img {
  @include img-fluid;
  @include border-radius($thumbnail-border-radius);
}

.jumbotron {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-grow-1;
  @extend .w-100;
  max-width: 64em;
  margin: 0 auto;
}

.breadcrumb {
  font-size: $h5-font-size;
  
  h1 {
    display: inline;
    font-size: $h5-font-size;
  }
}

[aria-label="Page navigation"] {
  @extend .align-self-center;
  margin-top: auto;
  
  ul {
    margin-bottom: 0;
  }
}

.fa-1x {
  @include size(1em);
}

.fa-2x {
  @include size(2em);
}

.tags {
  padding-left: 1.25em;
  background-image: inline-image("tags.svg");
  background-size: 1em 1em;
  background-position: center left;
  background-repeat: no-repeat;
  margin-bottom: 0;

  list-style: none;

  li {
    display: inline-block;
  }

  + time {
    @extend .small;
    text-align: right;
    padding-bottom: 0.5em;
  }
}

.bookshelf {
  @extend .d-flex;
  @extend .flex-wrap;
}

.cover {
  @include make-col-ready(2em);

  @include media-breakpoint-down(sm) {
    @include make-col-ready(1em);
    @include make-col(6);

    &:nth-child(2n+1):nth-last-child(-n+2),
    &:nth-child(2n+1):nth-last-child(-n+2) ~ & {
      border-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    @include make-col(4);
    
    &:nth-child(3n+1):nth-last-child(-n+3),
    &:nth-child(3n+1):nth-last-child(-n+3) ~ & {
      border-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    @include make-col(3);

    &:nth-child(4n+1):nth-last-child(-n+4),
    &:nth-child(4n+1):nth-last-child(-n+4) ~ & {
      border-bottom: 0;
    }
  }

  @extend .d-flex;
  @extend .flex-column;
  border-bottom: $hr-border-width solid $dark;
  margin-bottom: 2em;

  h2 {
    @extend .flex-grow-1;
    font-size: $h5-font-size;
    margin-top: $headings-margin-bottom;
  }
}
