{% if page.collection == "bookshelf" %}
{% assign book = site.data.bookshelf | where: "title", page.title | first %}
<aside class="book-aside" role="complementary">
    <img src="/assets/bookshelf/{{ page.title }}/cover.jpg" alt="封面：{{ page.title }}">
    <section class="card">
        <h2 class="card-header">书籍信息</h2>
        <ul class="card-body">
            <li>
                <p><span>作者：</span>{{ book.author }}</p>
            </li>
            {% if book.producer != "" %}
            <li>
                <p><span>译者：</span>{{ book.producer }}</p>
            </li>
            {% endif %}
            {% if book.pagination != "" %}
            <li>
                <p><span>页码：</span>{{ book.pagination }}</p>
            </li>
            {% endif %}
            {% if book.brand != "" %}
            <li>
                <p><span>品牌：</span>{{ book.brand }}</p>
            </li>
            {% endif %}
            {% if book.ISBN != "" %}
            <li>
                <p><span>ISBN：</span>{{ book.ISBN }}</p>
            </li>
            {% endif %}
            {% if book.publisher != "" %}
            <li>
                <p><span>出版社：</span>{{ book.publisher }}</p>
            </li>
            {% endif %}
            {% if book.published != "" %}
            <li>
                <p><span>出版日期：</span>{{ book.published }}</p>
            </li>
            {% endif %}
        </ul>
        {% if book["product link"] != "" %}
        <a class="btn btn-warning" href="{{ book['product link'] }}">
            <svg class="fa-2x">
                <use xlink:href="/assets/images/fontawesome.svg#amazon"></use>
            </svg>
            <span>购买</span>
        </a>
        {% endif %}
    </section>
</aside>
{% endif %}
