<footer class="d-flex flex-column flex-md-row justify-content-center align-items-center" role="contentinfo">
    {% include social.html %}
    <div>
        <p class="text-center my-3 my-md-0 ml-md-5">
            <a class="" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="知识共享许可协议" class="img-fluid"
                     src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-nd.svg"/>
            </a>
            <em>黄昭隗的个人网站</em>
        </p>
    </div>
</footer>