<header id="site-top" role="banner">
  <nav role="navigation">
    <ul class="nav nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="/" title="首页">
          <svg>
            <use xlink:href="/assets/images/fontawesome.svg#logo"></use>
          </svg>
        <span class="sr-only">首页</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookshelf/" title="书架">书架</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/" title="日志">日志</a>
      </li>
    </ul>
  </nav>
  <div>
    <blockquote>
      <p>在社会演化中，没有什么是不可避免的，使其成为不可避免的，是思想。</p>
      <footer>哈耶克(Hayek F.A.)<cite>《通往奴役之路》</cite></footer>
    </blockquote>
  </div>
</header>
