{% if page.previous or page.next %}
<nav aria-label="posts navigation">
  <ul class="pagination">
    {% if page.previous %}
    <li class="page-item">
      <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title | escape }}" aria-label="Previous">
        <span><small>上一篇：</small>{{ page.previous.title | escape }}</span> 
      </a>
    </li>
    {% endif %}
    {% if page.next %}
    <li class="page-item">
      <a class="page-link" href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title | escape }}" aria-label="Next">
        <span><small>下一篇：</small>{{ page.next.title | escape }}</span> 
      </a>
    </li>
  {% endif %}
</ul>
</nav>
{% endif %}
