<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter" rel="external">
        <svg class="fa-2x twitter">
          <use xlink:href="/assets/images/sprites.svg#twitter"></use>
        </svg>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/{{ site.github_username}}" title="GitHub" rel="external">
        <svg class="fa-2x github">
          <use xlink:href="/assets/images/sprites.svg#github"></use>
        </svg>
        <span class="sr-only">GitHub</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:{{ site.email }}" title="Mail" rel="external">
        <svg class="fa-2x envelope">
          <use xlink:href="/assets/images/sprites.svg#envelope"></use>
        </svg>
        <span class="sr-only">Mail</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/feed.xml" title="RSS">
        <svg class="fa-2x rss">
          <use xlink:href="/assets/images/sprites.svg#rss"></use>
        </svg>
        <span class="sr-only">RSS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#header" title="返回顶部">
        <svg class="fa-2x arrow-alt-to-top">
          <use xlink:href="/assets/images/sprites.svg#arrow-alt-to-top"></use>
        </svg>
        <span class="sr-only">返回顶部</span>
      </a>
    </li>
  </ul>
</nav>
