<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter" rel="external">
                <svg class="fa-2x">
                    <use xlink:href="/assets/images/fontawesome.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/{{ site.github_username}}" title="GitHub" rel="external">
                <svg class="fa-2x">
                    <use xlink:href="/assets/images/fontawesome.svg#github"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:{{ site.email }}" title="Mail" rel="external">
                <svg class="fa-2x">
                    <use xlink:href="/assets/images/fontawesome.svg#envelope"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/feed.xml" title="RSS">
                <svg class="fa-2x">
                    <use xlink:href="/assets/images/fontawesome.svg#rss"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#logo" title="返回顶部">
                <svg class="fa-2x">
                    <use xlink:href="/assets/images/fontawesome.svg#arrow-alt-to-top"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
