/* default.html
---------------------------------------------------------------------------------------------------------------------*/
html {
    display: flex;
    min-height: 100%;
}

body {
    background: #F6F6F1;
}

.icon {
    width: 1em;
    height: 1em;
}

/* navigation.html
---------------------------------------------------------------------------------------------------------------------*/
#bookshelf .figure {
    width: 9em;
}

#bookshelf .figure-img {
    height: 10em;
}

/* navigation.html
---------------------------------------------------------------------------------------------------------------------*/
#banner {
    background: #edf4ed;
}