table {
  @include trailer;
  width: 100%;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    @include Scroll_Wrapper;
    text-align: left;
  }

  thead,
  tbody {
    border-left: 1px solid $dark;
    border-right: 1px solid $dark;
  }

  thead {
    tr {
      line-height: $base-line-height;
    }
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
    }
  }

  tbody tr {
    line-height: $base-line-height - 1px;
    border-bottom: 1px solid $dark;
   
    &:nth-of-type(odd) {
      background-color: $table-accent-bg;
    }
  }
  
  th,
  td {
    padding: 0 0 0 1em;
  }
}

section,
article,
blockquote,
dd,
.document,
.header,
.footer,
.container,
.section,
.compound,
.figure {
  > p {
    text-indent: 2em;
  }
}

section,
article,
.document,
.header,
.footer,
.section {
  > p {
    @include trailer(0.5);
  }
}

pre {
  @include adjust-font-size-to($code-font-size);
  margin-bottom: $base-line-height;
  padding: ($base-line-height / 2) 1em;
}

hr {
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
  @include rhythm-margins(0.5);
}

li p {
  font-size: $font-size-base;
}

[itemtype="http://schema.org/BlogPosting"] {
  @include flexbox((display: flex, flex-direction: column));
  @include trailer;
  
  .tags {
    @include align-self(flex-end);
    margin-bottom: 0;
  }

  time {
    margin-bottom: $base-line-height;
  }

  h1 {
    @include adjust-font-size-to($h1-font-size);
  }

  h2 {
    background-color: $bg-secondary;
    @include adjust-font-size-to($h2-font-size);
    margin-bottom: $base-line-height;
    padding-left: 1em;
  }

  h3 {
    @include adjust-font-size-to($h3-font-size);
    margin-top: $base-line-height / 2;
    margin-bottom: $base-line-height / 2;
    border-bottom: 1px solid $dark;
  }

  h4 {
    @include adjust-font-size-to($h4-font-size);
  }

  h5 {
    @include adjust-font-size-to($h5-font-size);
  }

  h6 {
    @include adjust-font-size-to($h6-font-size);
  }

  p {
    word-break: break-all;
  }

  ul, ol, dl {
    @include trailer;
  }
}

dd {
  @include trailer(0.5);
}

dt:after {
  content: "：";
}

blockquote > footer,
.attribution {
  display: block;
  font-size: $small-font-size;
  color: $blockquote-small-color;
  text-align: right;
  @include adjust-font-size-to($small-font-size);

  &::before {
    content: "\2014\2014";
  }
}

.attribution {
  @include trailer(0.5);
}

em,
strong,
.literal,
.external {
  padding: 0 0.25em;
}

em,
.literal {
  color: $dark;
  font-weight: 500;
}

em,
strong,
.literal {
  line-height: 81.25%;
}

.literal {
  font-family: $font-family-monospace;
}

.excerpt {
  font-size: $font-size-base * 1.0625;
  font-weight: $lead-font-weight;
  line-height: $base-line-height;
  margin-bottom: $base-line-height - $hr-border-width;
  border-bottom: $hr-border-width solid $hr-border-color; 

  p {
    margin-bottom: $base-line-height / 2;

    &:last-child {
      margin-bottom: $base-line-height;
    }
  }

  strong {
    font-weight: 600;
  }

  .reference {
    font-weight: 400;
  }
}

.figure {
  @include trailer;
}

.footer {
  p {
    font-weight: 300;
  }
  hr {
    @include leader;
    margin-bottom: $base-line-height - $hr-border-width;
  }
}

.footnote {
  dt, dd, p {
    display: inline;
  }
}
