footer[role="contentinfo"] {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center,
    ));
  background-color: $bg-info;

  nav {
    li:hover {
      &:nth-child(odd) {
        @include simple-transform(1.3,30deg);
      }

      &:nth-child(even) {
        @include simple-transform(1.3,330deg);
      }
    }
  }
}
