footer[role="contentinfo"] {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center,
    ));
  background-color: $bg-info;

  nav {
    @include rhythm-margins(0.5);
  }

  .nav-item:hover {
    &:nth-child(odd) {
      @include simple-transform(1.125,45deg);
    }

    &:nth-child(even) {
      @include simple-transform(1.125,315deg);
    }

    &:last-child {
      @include transform(none);
    }
  }

  p {
    margin-bottom: 6px;
  }

  img {
    padding-right: 1em;
  }
}
