header[role="banner"] {
  background-color: $bg-info;

  #logo {
    padding: 0;
  }

  svg {
    max-width: 100%;
    max-height: $base-line-height * 3;
  }

  .nav-item .nav-link {
    @include link-colors($dark, $black);
    font-size: $h4-font-size;
    @include adjust-font-size-to($h4-font-size);
    padding: $base-line-height 1rem;
  }

  nav,
  blockquote {
  //@include debug-vertical-alignment("debug.png");

    max-width: 36em;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div {
    @include rhythm-padding(0.5);
    background-color: $warning;
  }
}
