header[role="banner"] {
  background-color: $bg-info;

  nav {
    font-size: $h4-font-size;
  }

  nav,
  blockquote {
  //@include debug-vertical-alignment("debug.png");
    max-width: 36em;
    margin: 0 auto;
  }

  blockquote {
    @include rhythm-padding(0.5);

    p {
      padding: 0;
    }
  }
}
