---
layout: default
---
<main class="jumbotron" role="main">
    {% include breadcrumb.html %}
    <div class="content">
        {% for post in paginator.posts %}
        <article class="archive">
            <h2>
                <a {% if post.collection == "bookshelf" %}data-archive-type="bookshelf" {% endif %}href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
            {% include tags.html post=post %}
            {{ post.excerpt }}
        </article>
        {% endfor %}
    </div>
    {% include pagination.html %}
</main>
