---
layout: default
---
<main class="jumbotron" role="main">
    {% include breadcrumb.html %}
    <div class="content">
        {% for post in paginator.posts %}
        <article class="archive">
            <h2>
                <a {% if post.collection == "bookshelf" %}class="book-title" {% endif %}href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
            {% include tags.html tags=post.tags %}
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %d, %y' }}</time>
            {{ post.excerpt }}
        </article>
        {% endfor %}
    </div>
    {% include pagination.html %}
</main>
