---
layout: default
---
<main class="jumbotron" role="main">
  {% include breadcrumb.html %}
  <div class="container">
    {% for post in paginator.posts %}
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <a {% if post.collection == "bookshelf" %}data-collection="bookshelf" {% endif %}href="{{ post.url }}" title="{{ post.title }}">
        <h2 itemprop="headline">{{ post.title }}</h2>
      </a>
      {% include tags.html tags=post.tags date= post.date %}
      {{ post.excerpt }}
    </article>
    {% endfor %}
  </div>
  {% include pagination.html %}
</main>
