---
layout: default
---
<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
<main class="jumbotron" role="main">
  <section class="notification">
    {{ content }}
  </section>
  <form action="https://send.pageclip.co/aBjSLmPwZK3JCtUmb8amPc28ZNf7X6h7/contact" class="pageclip-form" method="post">
    <div>
      <input type="text" id="name" name="name" autocomplete="off" required />
      <label for="name">Name</label>
    </div>
    <div>
      <input type="email" id="email" name="email" autocomplete="off" required />
      <label for="email">Email</label>
    </div>
    <div>
      <input type="text" id="subject" name="subject" autocomplete="off" required />
      <label for="subject">Subject</label>
    </div>
    <div>
      <textarea id="message" name="meassage" rows="8" autocomplete="off" required></textarea>
      <label for="message">Message</label>
    </div>
    <button type="submit" class="pageclip-form__submit">
      <span>Send it!</span>
    </button>
  </form>
  <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</main>

