---
layout: default
---
<main class="jumbotron" role="main">
    <section>
        <h1 class="display-3">Hacker Ethic</h1>
        <p>Access to computers—and anything which might teach you something about the way the world works—should be
            unlimited and total. Always yield to the Hands-On Imperative!</p>
        <p>All information should be free.</p>
        <p>Mistrust Authority—Promote Decentralization.</p>
        <p>Hackers should be judged by their hacking, not criteria such as degrees, age, race, sex, or position.</p>
        <p>You can create art and beauty on a computer.</p>
        <p>Computers can change your life for the better.</p>
    </section>
    <div class="bookshelf">
        <section class="hackers">
            <h2 class="text-hide">黑客</h2>
            <img src="/assets/bookshelf/黑客/cover.jpg" alt="封面：黑客">
            <pre class="code clojure literal-block"><code><span class="p">{</span><span class="ss">:黑客</span> <span
                    class="s">"传承"</span><span class="p">}</span></code></pre>
        </section>
        <section class="hackers">
            <h2 class="text-hide">若为自由故</h2>
            <img src="/assets/bookshelf/若为自由故/cover.jpg" alt="封面：若为自由故">
            <pre class="code clojure literal-block"><code><span class="p">{</span><span
                    class="ss">:自由</span> <span class="s">"愿望"</span><span class="p">}</span></code></pre>
        </section>
        <section class="hackers">
            <h2 class="text-hide">大教堂与集市</h2>
            <img src="/assets/bookshelf/大教堂与集市/cover.jpg" alt="封面：大教堂与集市">
            <pre class="code clojure literal-block"><code><span class="p">{</span><span
                    class="ss">:开源</span> <span class="s">"策略"</span><span class="p">}</span></code></pre>
        </section>
        <section class="hackers">
            <h2 class="text-hide">黑客与画家</h2>
            <img src="/assets/bookshelf/黑客与画家/cover.jpg" alt="封面：黑客与画家">
            <pre class="code clojure literal-block"><code><span class="p">{</span><span
                    class="ss">:设计</span> <span class="s">"艺术"</span><span class="p">}</span></code></pre>
        </section>
    </div>
    {{ content }}
</main>