---
layout: default
---
<section>
    <h1 class="text-center">Hacker Ethic</h1>
    <ul class="list-unstyled lead text-indent">
        <li>
            <p>Access to computers—and anything which might teach you something about the way the world works—should be
                unlimited and total. Always yield to the Hands-On Imperative!</p>
        </li>
        <li>
            <p>All information should be free.</p>
        </li>
        <li>
            <p>Mistrust Authority—Promote Decentralization.</p>
        </li>
        <li>
            <p>Hackers should be judged by their hacking, not criteria such as degrees, age, race, sex, or position.</p>
        </li>
        <li>
            <p>You can create art and beauty on a computer.</p>
        </li>
        <li>
            <p>Computers can change your life for the better.</p>
        </li>
    </ul>
    <article class="d-flex flex-wrap">
        <figure class="figure col-6 col-md-3 mb-0">
            <img class="figure-img img-fluid rounded" src="/bookshelf/黑客/cover.jpg" alt="封面：黑客">
            <figcaption class="h6 text-center">
                <pre class="code clojure literal-block py-3"><code><span class="p">{</span><span class="ss">:黑客</span> <span class="s">"传承"</span><span class="p">}</span></code></pre>
            </figcaption>
        </figure>
        <figure class="figure col-6 col-md-3 mb-0">
            <img class="figure-img img-fluid rounded" src="/bookshelf/若为自由故/cover.jpg" alt="封面：若为自由故">
            <figcaption class="h6 text-center">
                <pre class="code clojure literal-block py-3"><code><span class="p">{</span><span class="ss">:自由</span> <span class="s">"愿望"</span><span class="p">}</span></code></pre>
            </figcaption>
        </figure>
        <figure class="figure col-6 col-md-3 mb-0">
            <img class="figure-img img-fluid rounded" src="/bookshelf/大教堂与集市/cover.jpg" alt="封面：大教堂与集市">
            <figcaption class="h6 text-center">
                <pre class="code clojure literal-block py-3"><code><span class="p">{</span><span class="ss">:开源</span> <span class="s">"策略"</span><span class="p">}</span></code></pre>
            </figcaption>
        </figure>
        <figure class="figure col-6 col-md-3 mb-0">
            <img class="figure-img img-fluid rounded" src="/bookshelf/黑客与画家/cover.jpg" alt="封面：黑客与画家">
            <figcaption class="h6 text-center">
                <pre class="code clojure literal-block py-3"><code><span class="p">{</span><span class="ss">:设计</span> <span class="s">"艺术"</span><span class="p">}</span></code></pre>
            </figcaption>
        </figure>
    </article>
</section>
{{ content }}