---
layout: default
---
<section class="align-self-center col-sm-10 col-md-9 col-lg-8 px-0 d-flex flex-column" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="d-flex flex-column">
        {% include breadcrumb.html %}
        <h1 class="text-center" itemprop="name headline">{{ page.title }}</h1>
        <div class="align-self-end">
            {% include tags.html tags=page.tags %}
        </div>
        {% if page.date %}
        <p class="text-right">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </p>
        {% endif %}
    </header>
    <div id="content" class="flex-grow-1" itemprop="articleBody">
        {{ content }}
    </div>
    {% include navigation.html %}
</section>
{% include book-aside.html %}